uit-client_2.0-1_amd64/opt/uit-toolbox/windows/techComm-unattend.xml
uit-client_2.0-1_amd64/opt/uit-toolbox/windows/ClassTech-unattend.xml
uit-client_2.0-1_amd64/opt/uit-toolbox/windows/SHRL-unattend.xml
